<!DOCTYPE html>
<html>
  <head>
    <title>Acamica</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="https://sc.acamica.com/icons/1j7w9h/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="main.css">
    
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">

      <div class="testbox">
        <form name="testform" action="/">
          <div class="banner">
            <h1>Payment Form</h1>
          </div>
          <p class="top-info">Thank you for your interest in studying with us. Please complete the form below.</p>
          <div class="item">
            <p>Name<span class="required">*</span></p>
            <div class="name-item">
              <input type="text" name="name" placeholder="First" v-model="student.name" required/>
              <input type="text" name="last" placeholder="Last"  v-model="student.lastname" required/>
            </div>
          </div>
          <div class="contact-item">
            <div class="item">
              <p>Email<span class="required">*</span></p>
              <input type="text" name="email" v-model="student.email" required/>
            </div>
            <div class="item">
              <p>Phone<span class="required">*</span></p>
              <input type="text" name="phone" placeholder="(xxxx) xxxx - xxxx" v-model="student.phone" required/>
            </div>
          </div>
          <div class="career-item">
            <div class="item" name="career">
              <p>Career<span class="required">*</span></p>
              <select v-model="student.selected" required>
                <option value="FullStack">Full Stack Development</option>
                <option value="UXUI">UX/UI Design</option>
                <option value="DataS">Data Science</option>
                <option value="FrontReact">Front-End with React</option>
              </select>
              
            </div>
            <div class="item">
              <p>Date of Birth<span class="required">*</span></p>
              <input type="date" name="bdate" v-model="student.bdate" required/>
              <i class="fas fa-calendar-alt"></i>
            </div>
          </div>
          <div class="contact-item">
            <div class="item">
              <p>Country<span class="required">*</span></p>
              <input type="text" name ="country" v-model="student.country" required/>
            </div>
            <div class="item">
              <p>City<span class="required">*</span></p>
              <input type="text" name="city" v-model="student.city" required/>
            </div>
          </div>
          <div class="question">
            <p>Payment Method<span class="required">*</span></p>
            <div class="question-answer" name="payment">
              <div>
                <input type="radio" value="Credit" id="credit" name="status" v-model="student.picked" @click="displayInstallments()" required/>
                <label for="credit" class="radio"><span>Credit Card</span></label>
              </div>
                    <div class="installments" v-show="showInstallments">
                      <input type="radio" value="1" id="1" name="status" v-model="student.picked" required/>
                      <label for="1" class="radio"><span>1</span></label>
                      <input type="radio" value="3" id="3" name="status" v-model="student.picked" required/>
                      <label for="3" class="radio"><span>3</span></label>
                      <input type="radio" value="6" id="6" name="status" v-model="student.picked" required/>
                      <label for="6" class="radio"><span>6</span></label>
                    </div>
              <div>
                <input type="radio" value="Debit" id="debit" name="status" v-model="student.picked" @click="hideInstallments()" required/>
                <label for="debit" class="radio"><span>Debit Card</span></label>
              </div>
              <div>
                <input type="radio" value="Cash" id="cash" name="status" v-model="student.picked" @click="hideInstallments()" required/>
                <label for="cash" class="radio"><span>Cash</span></label>
              </div>
              <div>
                <input type="radio" value="Transfer" id="transfer" name="status" v-model="student.picked" @click="hideInstallments()" required/>
                <label for="transfer" class="radio"><span>Transfer</span></label>
              </div>
            </div>
          </div>
          
          

          
          <button class='btn-success' v-on:click="send">Send</button>
        </form>
      </div>
    </div>  

    <script>

      async function sendStudent(estudiante) {

      // paso 1: transformar el objeto en algo que se pueda mandar al server (un string).
      let body = JSON.stringify(estudiante);

      // paso 2: configuración del fetch
      let opts = {
        method: 'POST', // method => por default es GET queremos POST
        body: body, // body => el objeto estudiante encodeado en paso 1
        headers: {
          'Accept': 'application/json', // lo que recibo
          'Content-Type': 'application/json' // lo que mando
        }
      };

      // paso 3: enviar request.
      return fetch('/api/students', opts);

    }

var app = new Vue({
  el: '#app',
  data: {
    student: {
    name: '',
    lastname: '',
    email: '',
    phone: '',
    selected: '',
    bdate: '',
    country: '',
    city: '',
    picked: ''
    },
     showInstallments: false
  },

  methods: {

   send: async function (event){
    sendStudent(this.student);
    if (sendStudent) {
        alert("Student successfully added")
      }
   },

   displayInstallments: function() {
      
      this.showInstallments= true

    },

    hideInstallments: function() {
      
      this.showInstallments= false

    }
  }


})


</script>
  </body>

</html>