<!DOCTYPE html>
<html>
  <head>
    <title>Acamica</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="https://sc.acamica.com/icons/1j7w9h/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="main.css">
    
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">

      <div class="testbox">
        <form action="/">
          <div class="banner">
            <h1>Payment Form</h1>
          </div>
          <p class="top-info">Thank you for your interest in studying with us. Please complete the form below.</p>
          <div class="item">
            <p>Name<span class="required">*</span></p>
            <div class="name-item">
              <input type="text" name="name" placeholder="First" required/>
              <input type="text" name="last" placeholder="Last" required/>
            </div>
          </div>
          <div class="contact-item">
            <div class="item">
              <p>Email<span class="required">*</span></p>
              <input type="text" name="email" required/>
            </div>
            <div class="item">
              <p>Phone<span class="required">*</span></p>
              <input type="text" name="phone" placeholder="(xxxx) xxxx - xxxx" required/>
            </div>
          </div>
          <div class="career-item">
            <div class="item" name="career">
              <p>Career<span class="required">*</span></p>
              <select required>
                <option value="1">Full Stack Development</option>
                <option value="2">UX/UI Design</option>
                <option value="3">Data Science</option>
                <option value="4">Front-End with React</option>
              </select>
            </div>
            <div class="item">
              <p>Date of Birth<span class="required">*</span></p>
              <input type="date" name="bdate" required/>
              <i class="fas fa-calendar-alt"></i>
            </div>
          </div>
          <div class="contact-item">
            <div class="item">
              <p>Country<span class="required">*</span></p>
              <input type="text" name ="country" required/>
            </div>
            <div class="item">
              <p>City<span class="required">*</span></p>
              <input type="text" name="city" required/>
            </div>
          </div>
          <div class="question">
            <p>Payment Method<span class="required">*</span></p>
            <div class="question-answer" name="payment">
              <div>
                <input type="radio" value="none" id="radio_1" name="status" required/>
                <label for="radio_1" class="radio"><span>Credit Card</span></label>
              </div>
              <div>
                <input type="radio" value="none" id="radio_2" name="status" required/>
                <label for="radio_2" class="radio"><span>Debit Card</span></label>
              </div>
              <div>
                <input type="radio" value="none" id="radio_3" name="status" required/>
                <label for="radio_3" class="radio"><span>Cash</span></label>
              </div>
              <div>
                <input type="radio" value="none" id="radio_4" name="status" required/>
                <label for="radio_4" class="radio"><span>Transfer</span></label>
              </div>
            </div>
          </div>
          
          

          
          <button class='btn-success' v-on:click="greet">Send</button>
        </form>
      </div>
    </div>  

    <script>

var app = new Vue({
  el: '#app',
  data: {
    name: 'Vue.js'
  },

  methods: {

   greet: function (event) {
      // `this` inside methods point to the Vue instance
      alert('Hello ' + this.name + '!')
      // `event` is the native DOM event
      alert(event.target.tagName)
    }
    }
})


</script>
  </body>

</html>